:root {
    --primary-color: #495057;
    --secondary-color: #6c757D;
    --tertiary-color: #CED4DA;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--tertiary-color);
}


/* header styling */
header{
    padding: 10px 10px 10px 0px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header div{
    border: 1px none var(--tertiary-color);
    padding: 10px 10px 5px 20px;
    display: block;
    background-color: var(--tertiary-color);
    text-shadow: 0 0 30px rgba( 0, 0, 0, .3);
    text-align: right;
}

header h1 {
    font-size: bold;
    font-size: 48px;
    color: var(--primary-color);
    margin: 20;
    
}

header a {
    text-decoration: none;
    color: var(--tertiary-color)
}

header nav{
    margin: 10 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 15px;
    font-weight: lighter;
    font-size: 1.62vw;
    
}
#border1{
    border-bottom: 3px solid grey;
}
#border2{
    border-bottom: 3px solid grey;
    margin-left: 10px;
}
#border3{
    border-bottom: 3px solid grey;
    margin-left: 10px;
}

/*  header styling ends */


.subheader{
    padding: 40px 50px 100px 0;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../assets/Images/space1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: end;   
}

.subheader div{
    padding: 10px 12px;
    border: 1px none var(--primary-color);
    display: block;
    background-color: var(--tertiary-color);
    position: relative;
    top: 75px;
    right: 30px;
}

main{
    display: flex; 
    flex-direction: row;
}

aside{
    flex: 1;
    justify-content: space-between;
    font-size: 2.0vw;
}

aside h2{
margin-top: 50%;
margin-bottom: 20%;
margin-left: 25%;
} 

/*  parent element*/ 

aside img{
    width: 60%;
    padding: 20px;
    border-right: solid 4px;
    padding-right: 20px;
    margin-top: 10%;
    margin-left: 10%;
}

.work {
    flex: 4;
    background-color: var(--secondary-color);
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bio{
    padding: 10px;
    margin-bottom: 100px;
    font-size: 1.0vw;
    display: block;
    padding: 10px;
}

.bio h2{
    font-size: 2.00vw;
    margin-bottom: 10px;
    
}


.projects {
    border: solid 1px;
    border-radius: 5px;
    display: block;
    margin: 10px;
}
.projects h3{
    padding: 20px;
    text-align: center;
}
.projects h4{
    text-align: center;
}

footer {
    padding: 3%;
    text-align: center;
    background-color: var(--primary-color);
}

/* right side border for left column */


#border5{
    border-right: 3px solid;
    margin-right: 30%;
    padding: 35px;
    
}
