:root {
    --primary-color: #495057;
    --secondary-color: #6c757D;
    --tertiary-color: #CED4DA;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--tertiary-color);
}


/* header styling */
header{
    padding: 10px 10px 10px 0px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header div{
    border: 1px none var(--tertiary-color);
    padding: 10px 10px 5px 20px;
    display: block;
    background-color: var(--tertiary-color);
    text-shadow: 0 0 30px rgba( 0, 0, 0, .3);
    text-align: right;
}

header h1 {
    font-size: bold;
    font-size: 48px;
    color: var(--primary-color);
    margin: 20;
    
}

header a {
    text-decoration: none;
    color: var(--tertiary-color)
}

header nav{
    margin: 10 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin-top: 10px;
    padding: 15px;
    font-weight: lighter;
    font-size: 1.62vw;
    
}
header nav ul li a:hover{
    border-bottom: 3px solid var(--tertiary-color);
}

/* Header styling ends */

.subheader{
    padding: 40px 50px 100px 0;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../assets/Images/space1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: end;   
}

.subheader div{
    padding: 15px 12px;
    border: 1px none var(--primary-color);
    display: block;
    background-color: var(--tertiary-color);
    position: relative;
    top: 75px;
    right: 30px;
    font-size: 2.0vh;
}
/* About me Section */

#about-me{
    display: flex;
    align-items: center;
  
}

#about-me h2{
    padding-bottom: 2%;
    font-size: 2.00vw;
}
#about-me article{
    padding-left: 3%;
}

#about-me img{
    padding: 2%;
   margin-left: 0%;
   border-right: solid 3px ;
}

/* about me styling ends */

.portfoliocontainer{
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    /* justify-content: space-between; */
    background-color: var(--tertiary-color);
}
.section > h1 {
    flex: 0 0 20%;
    font-size: 3.00vh;
    text-align: end;
    margin-left: -8px;
    padding: 7px;
    border-right: 3px solid var(--primary-color);
    line-height: 1.1;
    justify-content: center;
    align-content: center;
}
.projects-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects{
    flex-basis: calc(50% -1em);
    border: solid 4px;
    display: block;
    margin: .5em;
    background: var(--secondary-color);
    background-size: 150%;
    align-items: flex-end;
    padding: 0 0 20px 0;
    transition: all .5s;
    font-size: 1em;
    border: 4px solid var(--primary-color);
}
.projects img{
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;

}
.projects:first-child{
    /* min-height: 400px ; */
    flex-basis: 100%;
}
.projects img:first-child{
    width: 100%;
    height: 100%;
}
.projects:nth-child(2){
    min-width: 250px;
    flex-basis: 50%;
    border: 3px solid var(--primary-color);
}

.project-name{
    color: var(--tertiary-color);
    padding: 1px;
    margin-left: 2%;
    text-align: center;
    font-size: 1.5vh;
    /* position: absolute; */
    /* height: 10%; */
}
.projects img{
   opacity: .5;
}

.projects img:hover{
    opacity: 1 ;
}

.projects h3{
    padding: 15px;
    text-align: center;
    font-size: 2.5vh;
}
.projects h4{
    text-align: center;
    padding-bottom: 5%;
    font-size: 1.7vh;
}
.contact .contactinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.contactinfo a{
    padding: 10px;
    text-decoration: none;
    font-size: 2.5vh;
    color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: 100% .2em;
    background-position: bottom;
    margin: 0 .2rem .1rem;
    display: inline-block;
}

 .contactinfo a:hover{
    background-size: 100% 88%;
    border: 1px solid;
    background-color: var(--secondary-color);
    padding: 10px;
    color: var(--tertiary-color);
}





